
@{
    ViewBag.Title = "Pantalla";
}

<h2 align="center">BIENVENIDO</h2>

<br />

<head>
    <title>BIENVENIDO</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <br /><br />
    <br /><br />

    <img src="~/img/doom.jpg">

    <br /><br />
    <br /><br />
    <div class="container">

        <div class="row">
            <div class="col-lg-4" style="  background-color: #9F9BE7">
                <h1>INTRO</h1>
                <p>ELIMINA A TODOS LOS ELEMENTOS MALOS :V</p>
            </div>
            <div class="col-lg-4" style="    background-color: #9AA7EA">
                <h1>MISION</h1>
                <p>MATAR A LOS ENEMIGOS.</p>
            </div>
            <div class="col-lg-4" style="    background-color: #9FCFE7">
                <h1>AYUDA</h1>
                <p>UwU</p>
            </div>
        </div>
    </div>
</body>